/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* CSS Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

/* Global Styles */
:root {
    /* Colors */
    --CLR-PRIMARY-NUTMEG: hsl(14, 45%, 36%);
    --CLR-PRIMARY-DRASP: hsla(332, 51%, 32%);

    --CLR-NEU-WHITE: hsl(0, 0%, 100%);
    --CLR-NEU-ROSEWHITE: hsl(330, 100%, 98%);
    --CLR-NEU-EGGSHELL: hsl(30, 54%, 90%);
    --CLR-NEU-LIGHTGREY: hsl(30, 18%, 87%);
    --CLR-WENGE-BROWN: hsl(30, 10%, 34%);
    --CLR-DARK-CHARCOAL: hsl(24, 5%, 18%);
    --CLR-LIGHT-PINK: rgba(255, 192, 203, 0.258);

    /* Fonts */
    --FF-YOUNG-SERIF: "Young Serif", serif;
    --FF-OUTFIT: "Outfit", sans-serif;

    --FS-P: 1em; /* 16px */

    --FW-400: 400;
    --FW-600: 600;
    --FW-700: 700;

    /* Styles */
}

/* General Styles */
body {
    background-color: var(--CLR-NEU-EGGSHELL);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.125em 0;
    scroll-behavior: smooth;
}

/* Overall Recipe */
.recipe-wrapper {
    margin: 1.875em 0;
    width: 40em;
    background-color: var(--CLR-NEU-WHITE);
    padding: 2.5em;
    border-radius: 0.75em;
}

.recipe-hero {
    padding: 0 0 1.25em 0;
}

.recipe-hero img {
    border-radius: 0.75em;
    margin-bottom: 1.25em;
}

.recipe-title {
    font-family: var(--FF-YOUNG-SERIF);
    font-weight: var(--FW-400);
    margin-bottom: 0.3em;
}

.recipe-desc {
    font-family: var(--FF-OUTFIT);
    font-size: 0.875em;
    color: var(--CLR-DARK-CHARCOAL);
}

/* Preperation Time Section */
.recipe-prep {
    background-color: var(--CLR-LIGHT-PINK);
    border-radius: 0.75em;
    padding: 1.563em;
    margin-bottom: 1.25em;
}

.prep {
    font-family: var(--FF-OUTFIT);
    font-size: 1.125em;
    font-weight: var(--FW-600);
    color: var(--CLR-PRIMARY-DRASP);
    margin-bottom: 0.313em;
}

.time {
    color: var(--CLR-WENGE-BROWN);
    font-family: var(--FF-OUTFIT);
    margin-left: 1.25em;
}

.time li {
    line-height: 1.7;
    list-style: disc;
}

.time-title {
    font-weight: var(--FW-600);
    margin-left: 1.25em;
    letter-spacing: 0.05em;
}

/* Ingredients Section */
.ingredients-title {
    font-family: var(--FF-YOUNG-SERIF);
    color: var(--CLR-PRIMARY-NUTMEG);
    font-weight: var(--FW-400);
    margin-bottom: 1.25em;
}

.ingredients {
    font-family: var(--FF-OUTFIT);
    color: var(--CLR-DARK-CHARCOAL);
    margin-left: 1.25em;
    margin-bottom: 1.25em;
}

.ingredients li {
    line-height: 1.7;
    padding-left: 0.625em;
    color: var(--CLR-DARK-CHARCOAL);
}

/* Line Head Style */
hr {
    color: var(--CLR-NEU-EGGSHELL);
    opacity: 45%;
    margin-bottom: 1.25em;
}

/* Instructions Section */
.instructions-title {
    font-family: var(--FF-YOUNG-SERIF);
    font-weight: var(--FW-400);
    color: var(--CLR-PRIMARY-NUTMEG);
    margin-bottom: 1.25em;
}

.cooking-instructions {
    font-family: var(--FF-OUTFIT);
    color: var(--CLR-DARK-CHARCOAL);
    margin-left: 1.25em;
    margin-bottom: 1.25em;
    font-size: 0.938em;
}

.cooking-instructions span {
    font-weight: var(--FW-700);
    color: var(--CLR-DARK-CHARCOAL);
}

.cooking-instructions li {
    padding-left: 0.625em;
}

/* Nutritional Section */
.nutrition-title {
    font-family: var(--FF-YOUNG-SERIF);
    font-weight: var(--FW-400);
    color: var(--CLR-PRIMARY-NUTMEG);
    margin-bottom: 0.625em;
}

.nutrition-desc {
    font-family: var(--FF-OUTFIT);
    color: var(--CLR-DARK-CHARCOAL);
    margin-bottom: 1.25em;
    font-size: 0.875em;
}

.value {
    font-family: var(--FF-OUTFIT);
    font-size: 0.938em;
    color: var(--CLR-DARK-CHARCOAL);
    display: flex;
    justify-content: space-between;
    margin-left: 1.25em;
}

.value span {
    font-weight: var(--FW-600);
    margin-right: 12.5em;
}